<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.SessionFactoryDispenserTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getSessionFactory</td>
<td>Important SessionFactoryDispenser </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>test.NamedEntityDAOTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getBadNamedEntity</td>
<td>Important DAO </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getGoodNamedEntity</td>
<td>Important DAO </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>test.UserDAOTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getBadUser</td>
<td>Important DAO </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getGoodUser</td>
<td>Important DAO </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>test.EntityDAOTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getGoodEntity</td>
<td>Important DAO </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getEntities</td>
<td>Important DAO </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>updateEntity</td>
<td>Important DAO </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getBadEntity</td>
<td>Important DAO </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteBadEntity</td>
<td>Important DAO </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveBadEntity</td>
<td>Important DAO </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteGoodEntity</td>
<td>Important DAO </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>saveGoodEntity</td>
<td>Important DAO </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
