<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>DAO</td><td>test.UserDAOTest.getBadUser()<br/>test.EntityDAOTest.saveGoodEntity()<br/>test.EntityDAOTest.deleteGoodEntity()<br/>test.UserDAOTest.getGoodUser()<br/>test.EntityDAOTest.updateEntity()<br/>test.NamedEntityDAOTest.getGoodNamedEntity()<br/>test.NamedEntityDAOTest.getBadNamedEntity()<br/>test.EntityDAOTest.getGoodEntity()<br/>test.EntityDAOTest.getEntities()<br/>test.EntityDAOTest.saveBadEntity()<br/>test.EntityDAOTest.deleteBadEntity()<br/>test.EntityDAOTest.getBadEntity()<br/></td></tr>
<tr><td>Important</td><td>test.UserDAOTest.getBadUser()<br/>test.EntityDAOTest.saveGoodEntity()<br/>test.EntityDAOTest.deleteGoodEntity()<br/>test.UserDAOTest.getGoodUser()<br/>test.EntityDAOTest.updateEntity()<br/>test.NamedEntityDAOTest.getGoodNamedEntity()<br/>test.SessionFactoryDispenserTest.getSessionFactory()<br/>test.NamedEntityDAOTest.getBadNamedEntity()<br/>test.EntityDAOTest.getGoodEntity()<br/>test.EntityDAOTest.getEntities()<br/>test.EntityDAOTest.saveBadEntity()<br/>test.EntityDAOTest.deleteBadEntity()<br/>test.EntityDAOTest.getBadEntity()<br/></td></tr>
<tr><td>SessionFactoryDispenser</td><td>test.SessionFactoryDispenserTest.getSessionFactory()<br/></td></tr>
</table>
