<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Ant suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a971e3">  <td>14/09/08 21:24:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.SessionFactoryDispenserTest.getSessionFactory()">getSessionFactory</td> 
  <td>main@1446107908</td>   <td></td> </tr>
<tr bgcolor="7fcd7e">  <td>14/09/08 21:24:41</td>   <td>2108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.EntityDAOTest.deleteBadEntity()">deleteBadEntity</td> 
  <td>main@1446107908</td>   <td></td> </tr>
<tr bgcolor="7fcd7e">  <td>14/09/08 21:24:41</td>   <td>2125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.EntityDAOTest.deleteGoodEntity()">deleteGoodEntity</td> 
  <td>main@1446107908</td>   <td></td> </tr>
<tr bgcolor="7fcd7e">  <td>14/09/08 21:24:41</td>   <td>2394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.EntityDAOTest.getBadEntity()">getBadEntity</td> 
  <td>main@1446107908</td>   <td></td> </tr>
<tr bgcolor="7fcd7e">  <td>14/09/08 21:24:41</td>   <td>2402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.EntityDAOTest.getEntities()">getEntities</td> 
  <td>main@1446107908</td>   <td></td> </tr>
<tr bgcolor="7fcd7e">  <td>14/09/08 21:24:41</td>   <td>2448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.EntityDAOTest.getGoodEntity()">getGoodEntity</td> 
  <td>main@1446107908</td>   <td></td> </tr>
<tr bgcolor="7fcd7e">  <td>14/09/08 21:24:41</td>   <td>2457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.EntityDAOTest.saveBadEntity()">saveBadEntity</td> 
  <td>main@1446107908</td>   <td></td> </tr>
<tr bgcolor="7fcd7e">  <td>14/09/08 21:24:41</td>   <td>2478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.EntityDAOTest.saveGoodEntity()">saveGoodEntity</td> 
  <td>main@1446107908</td>   <td></td> </tr>
<tr bgcolor="7fcd7e">  <td>14/09/08 21:24:41</td>   <td>2485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.EntityDAOTest.updateEntity()">updateEntity</td> 
  <td>main@1446107908</td>   <td></td> </tr>
<tr bgcolor="6375aa">  <td>14/09/08 21:24:41</td>   <td>2502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.NamedEntityDAOTest.getBadNamedEntity()">getBadNamedEntity</td> 
  <td>main@1446107908</td>   <td></td> </tr>
<tr bgcolor="6375aa">  <td>14/09/08 21:24:41</td>   <td>2519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.NamedEntityDAOTest.getGoodNamedEntity()">getGoodNamedEntity</td> 
  <td>main@1446107908</td>   <td></td> </tr>
<tr bgcolor="c7c57c">  <td>14/09/08 21:24:41</td>   <td>2524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.UserDAOTest.getBadUser()">getBadUser</td> 
  <td>main@1446107908</td>   <td></td> </tr>
<tr bgcolor="c7c57c">  <td>14/09/08 21:24:41</td>   <td>2545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.UserDAOTest.getGoodUser()">getGoodUser</td> 
  <td>main@1446107908</td>   <td></td> </tr>
</table>
