<h2>Methods that were not run</h2><table>
<tr><td>test.TrainingUnitTest.TrainingUnit</td></tr>
<tr><td>test.TrainingUnitTest$InitializedTrainingUnitTest.getCompanies</td></tr>
<tr><td>test.TrainingUnitTest$InitializedTrainingUnitTest.getInstructors</td></tr>
<tr><td>test.TrainingUnitTest$InitializedTrainingUnitTest.loadEntity</td></tr>
<tr><td>test.TrainingUnitTest$InitializedTrainingUnitTest.getCourses</td></tr>
<tr><td>test.TrainingUnitTest$InitializedTrainingUnitTest.getStudents</td></tr>
<tr><td>test.TrainingUnitTest$InitializedTrainingUnitTest.storeEntity</td></tr>
</table>